<!doctype html>
<html lang="id">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/public/style.css" />
  <title>Cari bini admin Challange</title>
</head>
<body>
  <main class="wrap">
    <section class="card">
      <h1>Challenge: Cari bini admin</h1>
      <p class="muted">Klik tombol di bawah untuk masuk.</p>

      <form method="post" action="/login">
        <button class="btn" type="submit">Masuk</button>
      </form>

      <div class="hr"></div>
    </section>
  </main>
</body>
</html>
